* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --primary-color: #FA8029;
  --dark-color: #1F2424;
  --light-color: #F7F7F7;
  --white-color: #FFFFFF;
}